name: Sim Core CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Build Toolchain
        run: sudo apt-get update && sudo apt-get install -y build-essential cmake ninja-build

      - name: Build and Test
        run: ./modern/tools/test.sh
